ion-card {
    ion-card-content {
        img {
            display: block;
            width: 100%;
        }

        .info {
            position: absolute;
            z-index: 99;
            width: 100%;
            height: 100%;
            padding: 15px;
            top: 0; left: 0;

            h2 { 
                text-transform: uppercase;
                color: #ffc409;
                font-weight: 600;
                font-size: 24px;
                margin-bottom: 50px;
            }

            h3 {
                font-size: 20px;
                text-transform: uppercase;
                color:#353535;
            }

            h4 {
                font-size: 18px;
                text-transform: uppercase;
                letter-spacing: 3px;
            }

            p {
                font-size: 18px;
                margin-top: 15px;
                color: #917109;
            }

        }

        .qrcode {
            position: absolute;
            bottom: 15px;
            right: 15px;
        }
    }
}