<ion-header>
  <ion-toolbar color="warning">
    <ion-title>MEMBER CARD</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-card>
    <ion-card-content class="ion-no-padding ion-no-margin">
      <img src="assets/images/bg-card.png" alt="">
      <div class="info">
        <h2>Member Card</h2>
        <h3>{{ profile.nm_member }}</h3>
        <h4>{{ profile.kd_member }}</h4>
        <p>12/24</p>
        <div class="qrcode">
          <qrcode [qrdata]="profile.kd_member" [width]="100" [errorCorrectionLevel]="'M'" [margin]="2"></qrcode>  
        </div>                
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
