<ion-header>
  <ion-toolbar color="warning">
    <ion-title>HISTORY TRANSAKSI</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="!transaksi">
    <ion-item *ngFor="let sk of [1,2,3,4,5]" lines="none">
      <ion-label>
        <h3><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></h3>
        <p><ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></p>
      </ion-label>
      <ion-skeleton-text animated style="width: 15%" slot="end"></ion-skeleton-text>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="transaksi">
    <ion-item *ngFor="let tr of transaksi" lines="none" class="ion-activatable ripple-parent ion-no-padding">
      <ion-label>
        <h3>{{ tr.nota }}</h3>
        <p>{{ tr.tanggal  }}</p>
      </ion-label>
      <ion-badge color="success" mode="ios" slot="end">Rp {{ tr.gtotal | number }} ,-</ion-badge>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-item>
  </ion-list>
  <div class="no-transaksi" *ngIf="transaksi.length==0">
    <img src="assets/images/bill.png" alt="">
    <h2>No Transaction History</h2>
    <p>Please visit our Cafe <br/>to Buy Some Drink or Food</p>
  </div>
</ion-content>
