.no-transaksi {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    text-align: center;

    img {
        width: 120px;
    }

    h2 {
        font-size: 20px;
        text-transform: uppercase;
        margin: 15px 0 10px 0;
        font-weight: 600;
        color: #979696;
    }

    p {
        font-size: 18px;
        margin: 0;
        color: #b9b9b9;
    }

}

ion-list {
    ion-item {
        ion-label {
            padding-left: 15px;
        }
    }
}